<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280615282541-5lqn91o47n7g2qquche8jakmhkloiphb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280615282541-5lqn91o47n7g2qquche8jakmhkloiphb</string>
	<key>API_KEY</key>
	<string>AIzaSyBb8drHX7A-9TbzdTrLdeumFdN9TNYDzCc</string>
	<key>GCM_SENDER_ID</key>
	<string>280615282541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aiperimakisheva.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-33034</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-33034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280615282541:ios:86bf076a668142e2155c64</string>
</dict>
</plist>